// colors
$black: #000;
$dark-color: #000958;
$dark-color-sec: #696969;
$light-color: #ffffff;
$light-color-sec: #fffaf5;
$orange-color: #FF5B2E;




// font size
$xs-font: 13px;
$s-font: 16px;
$sm-font: 18px;
$m-font: 24px;
$l-font: 32px;
$xl-font: 48px;

// padding 
$xs-padding: 6px;
$s-padding: 10px;
$m-padding: 24px;
$l-padding: 36px;
$xl-padding: 50px;

// margin 
$xs-margin: 6px;
$s-margin: 10px;
$m-margin: 24px;
$l-margin: 36px;
$xl-margin: 50px;

// transition 
$fast-tr: 0.1s linear;
$med-tr: 0.3s ease-in-out;
$slow-tr: 0.8s ease-in-out;
